In [70]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
%matplotlib inline
import geopandas as gpd

In [71]:
from zipfile import ZipFile

file_list = ['./data/data.zip']

for archive in file_list:
    zfile= ZipFile(archive)
    zfile.extractall('./data/')

In [72]:
shape_data = './data/MetroGIS_Tax_Parcels_2014/Parcels2014Hennepin.dbf'

hennepin = gpd.read_file(shape_data)

In [73]:
hennepin.describe()

,Shape_Leng,ACRES_POLY,ACRES_DEED,EMV_LAND,EMV_BLDG,EMV_TOTAL,TAX_CAPAC,TOTAL_TAX,SPEC_ASSES,FIN_SQ_FT,YEAR_BUILT,SALE_VALUE,PARC_CODE,Shape_Le_1,Shape_Area
count,427762.000,427762.000,427762.000,427762.000,427762.000,427762.000,427762.000,427762.000,427762.000,427762.000,427762.000,427762.000,427762.000,427762.000,427762.000
mean,714.829,1.182,0.000,100417.396,186281.030,286978.172,3459.441,6340.558,142.821,528.123,1818.901,212717.235,0.000,217.780,4778.212
std,931.109,6.396,0.000,369414.051,1334878.246,1597713.632,31145.437,67508.127,2642.129,856.999,512.722,1269577.272,0.000,283.672,25863.244
min,3.016,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.918,0.054
25%,355.345,0.150,0.000,25300.000,75000.000,116400.000,966.000,1781.000,0.000,0.000,1931.000,33277.500,0.000,108.262,586.410
50%,447.681,0.260,0.000,50200.000,114700.000,174000.000,1584.000,2800.000,0.000,0.000,1962.000,132500.000,0.000,136.391,1056.451
75%,660.850,0.530,0.000,100000.000,173800.000,270000.000,2652.000,4410.000,0.000,1087.000,1985.000,230000.000,0.000,201.327,2122.854
max,117550.768,1305.220,0.000,96791600.000,552458400.000,649250000.000,12984250.000,28182825.000,749606.000,19269.000,2014.000,253486470.000,0.000,35811.803,5277411.217

In [74]:
from IPython.core.display import display, HTML
#show all columns
pd.options.display.max_columns = None
#no sci notation
pd.set_option('display.float_format', lambda x: '%.3f' % x)
# plot sizes
plt.rcParams["figure.figsize"] = 10, 10

In [75]:
hennepin['PIN'].nunique(dropna=True) / len (hennepin['PIN'])

1.0

In [76]:
hennepin = hennepin.set_index(['PIN']).sort_index()

In [77]:
list(hennepin['GREEN_ACRE'].unique())

['N', 'Y']

In [78]:
column_list = list(hennepin.select_dtypes(include=['object']).columns.values)

len(column_list)

54

In [79]:
#convert columns with strings to 'categorical' type
def convert_to_categorical(df, cols):
    for col in cols:
        # get number of unique values
        unique_vals = len(df[col].unique())
        # calculate the ratio of unique values to total number of rows
        unique_ratio = unique_vals / len(df)
        if unique_ratio <= 0.2:
            df[col] = df[col].astype('category')
    return df

In [80]:
hennepin = convert_to_categorical(hennepin, column_list)

TypeError: unhashable type: 'Polygon'

In [ ]:
column_list = list(hennepin.select_dtypes(include=['object']).columns.values)
# remove values frome the list of columns created
column_list.remove('geometry')
hennepin = convert_to_categorical(hennepin, column_list)

In [44]:
hennepin.info()

AttributeError: 'NoneType' object has no attribute 'info'