In [22]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
%matplotlib inline
import geopandas as gpd

In [23]:
from zipfile import ZipFile

file_list = ['./data/data.zip']

for archive in file_list:
    zfile= ZipFile(archive)
    zfile.extractall('./data/')

In [24]:
shape_data = './data/MetroGIS_Tax_Parcels_2014/Parcels2014Hennepin.dbf'

hennepin = gpd.read_file(shape_data)

In [25]:
hennepin.describe()

,Shape_Leng,ACRES_POLY,ACRES_DEED,EMV_LAND,EMV_BLDG,EMV_TOTAL,TAX_CAPAC,TOTAL_TAX,SPEC_ASSES,FIN_SQ_FT,YEAR_BUILT,SALE_VALUE,PARC_CODE,Shape_Le_1,Shape_Area
count,427762.000000,427762.000000,427762.0,4.277620e+05,4.277620e+05,4.277620e+05,4.277620e+05,4.277620e+05,427762.000000,427762.000000,427762.000000,4.277620e+05,427762.0,427762.000000,4.277620e+05
mean,714.829480,1.181725,0.0,1.004174e+05,1.862810e+05,2.869782e+05,3.459441e+03,6.340558e+03,142.820718,528.122940,1818.901473,2.127172e+05,0.0,217.780172,4.778212e+03
std,931.109375,6.396352,0.0,3.694141e+05,1.334878e+06,1.597714e+06,3.114544e+04,6.750813e+04,2642.129237,856.998905,512.721532,1.269577e+06,0.0,283.672041,2.586324e+04
min,3.015943,0.000000,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000e+00,0.0,0.917716,5.355895e-02
25%,355.344635,0.150000,0.0,2.530000e+04,7.500000e+04,1.164000e+05,9.660000e+02,1.781000e+03,0.000000,0.000000,1931.000000,3.327750e+04,0.0,108.262016,5.864101e+02
50%,447.680589,0.260000,0.0,5.020000e+04,1.147000e+05,1.740000e+05,1.584000e+03,2.800000e+03,0.000000,0.000000,1962.000000,1.325000e+05,0.0,136.390930,1.056451e+03
75%,660.850462,0.530000,0.0,1.000000e+05,1.738000e+05,2.700000e+05,2.652000e+03,4.410000e+03,0.000000,1087.000000,1985.000000,2.300000e+05,0.0,201.327058,2.122854e+03
max,117550.767523,1305.220000,0.0,9.679160e+07,5.524584e+08,6.492500e+08,1.298425e+07,2.818282e+07,749606.000000,19269.000000,2014.000000,2.534865e+08,0.0,35811.803419,5.277411e+06

In [29]:
from IPython.core.display import display, HTML
#show all columns
pd.options.display.max_columns = None
#no sci notation
pd.set_option('display.float_format', lambda x: '%.3f' % x)
# plot sizes
plt.rcParams["figure.figsize"] = 10, 10